// Dark Mode Color Control for Objects without a `background-color` Attribute
.back-dark 
    color: #FFFFFF
    &:hover
        color: #FFFFFF
// Black Mode Color Control for Objects without a `background-color` Attribute
.midnight-black 
    color: #FFFFFF
    &:hover
        color: #FFFFFF
// Light Mode Color Control for Objects without a `background-color` Attribute
.back-light 
    color: #202020
    &:hover
        color: #202020
// Affirmative Mode Color Control for Objects without a `background-color` Attribute
.back-affirmative
    color: #FFFFFF
    &:hover
        color: #FFFFFF
// Destructive Mode Color Control for Objects without a `background-color` Attribute
.back-destructive
    color: #FFFFFF
    &:hover
        color: #FFFFFF
// Destructive Mode Color Control for Objects without a `background-color` Attribute
.back-constructive
    color: #3d3d3d
    &:hover
        color: #3d3d3d

// Dark Mode Color Control for Objects with a `background-color` Attribute
.dark 
    background-color: #202020
    color: #9B9B9B
    &:hover
        background-color: #2C2C2C
.midnight 
    background-color: #000000
    color: #FFFFFF
    &:hover
        background-color: #333333
// Light Mode Color Control for Objects with a `background-color` Attribute
.light 
    background-color: #FFFFFF
    color: #5F5E5B
    &:hover
        background-color: #EFEFED
// Affirmative Mode Color Control for Objects with a `background-color` Attribute
.affirmative
    background-color: #2383E1
    color: #FFFFFF
    &:hover
        background-color: #4b94dd
// Destructive Mode Color Control for Objects with a `background-color` Attribute
.destructive
    background-color: red
    color: #FFFFFF
    &:hover
        background-color: #ff3f3f
// Affirmative Mode Color Control for Objects with a `background-color` Attribute
.constructive
    background-color: #00ff00
    color: #3d3d3d
    &:hover
        background-color: #99ff99
// Global Font Variables
.sans 
  font-family: sans-serif !important


.mono 
  font-family: monospace !important


.serif 
  font-family: serif !important



// Global Font Weight Variables
// General
.thin 
    font-weight: 100 !important

.light 
  font-weight: 200 !important

.normal 
  font-weight: 400 !important

.bold 
  font-weight: 600 !important

.black 
  font-weight: 800 !important

// Specific
.w100 
  font-weight: 100 !important

.w200 
  font-weight: 200 !important

.w300 
  font-weight: 300 !important

.w400 
  font-weight: 400 !important

.w500 
  font-weight: 500 !important

.w600 
  font-weight: 600 !important

.w700 
  font-weight: 700 !important

.w800 
  font-weight: 800 !important

.w900 
  font-weight: 900 !important

// Text Decorations and Styles
.td-none
  text-decoration: none !important

.td-underline
  text-decoration: underline !important

.td-overline
    text-decoration: overline !important

.td-through
    text-decoration: line-through !important

.td-italic
    font-style: italic !important

.td-normal
    font-style: normal !important

// Text Alignments
.ta-left
    text-align: left !important
.ta-right
    text-align: right !important
.ta-center
    text-align: center !important