// Global Color Variables for Light Mode `mode = "light"`
$lightmode-background: #FFFFFF
$lightmode-background-hover: #EFEFED
$lightmode-text-color: #5F5E5B

// Global Color Variables for Dark Mode `mode = "dark"`
$darkmode-background: #202020
$darkmode-background-hover: #2C2C2C
$darkmode-text-color: #9B9B9B

// Global Color Variables for Affirmative Mode `mode = "affirmative"`
$affirmative-background: #2383E1
$affirmative-background-hover: #4b94dd
$affirmative-text-color: #FFFFFF

// Global Color Variables for Affirmative Mode `mode = "affirmative"`
$destructive-background: red
$destructive-background-hover: #ff3f3f
$destructive-text-color: #FFFFFF
    
// Dark Mode Color Control for Objects without a `background-color` Attribute
.back-dark 
    color: $lightmode-background
    &:hover
        color: $lightmode-background
// Light Mode Color Control for Objects without a `background-color` Attribute
.back-light 
    color: $darkmode-background
    &:hover
        color: $darkmode-background
// Affirmative Mode Color Control for Objects without a `background-color` Attribute
.back-affirmative
    color: $affirmative-background
    &:hover
        color: $affirmative-background
// Affirmative Mode Color Control for Objects without a `background-color` Attribute
.back-destructive
    color: $destructive-background
    &:hover
        color: $destructive-background

// Dark Mode Color Control for Objects with a `background-color` Attribute
.dark 
    background-color: $darkmode-background
    color: $darkmode-text-color
    &:hover
        background-color: $darkmode-background-hover
// Light Mode Color Control for Objects with a `background-color` Attribute
.light 
    background-color: $lightmode-background
    color: $lightmode-text-color
    &:hover
        background-color: $lightmode-background-hover
// Affirmative Mode Color Control for Objects with a `background-color` Attribute
.affirmative
    background-color: $affirmative-background
    color: $affirmative-text-color
    &:hover
        background-color: $affirmative-background-hover
// Affirmative Mode Color Control for Objects with a `background-color` Attribute
.destructive
    background-color: $destructive-background
    color: $destructive-text-color
    &:hover
        background-color: $destructive-background-hover

// Global Font Variables
.sans 
  font-family: sans-serif !important


.mono 
  font-family: monospace !important


.serif 
  font-family: serif !important



// Global Font Weight Variables
// General
.thin 
    font-weight: 100 !important

.light 
  font-weight: 200 !important

.normal 
  font-weight: 400 !important

.bold 
  font-weight: 600 !important

.black 
  font-weight: 800 !important

// Specific
.w100 
  font-weight: 100 !important

.w200 
  font-weight: 200 !important

.w300 
  font-weight: 300 !important

.w400 
  font-weight: 400 !important

.w500 
  font-weight: 500 !important

.w600 
  font-weight: 600 !important

.w700 
  font-weight: 700 !important

.w800 
  font-weight: 800 !important

.w900 
  font-weight: 900 !important

// Text Decorations and Styles
.td-none
  text-decoration: none !important

.td-underline
  text-decoration: underline !important

.td-overline
    text-decoration: overline !important

.td-through
    text-decoration: line-through !important

.td-italic
    font-style: italic !important

.td-normal
    font-style: normal !important

// Text Alignments
.ta-left
    text-align: left !important
.ta-right
    text-align: right !important
.ta-center
    text-align: center !important