$object-border-radius: 0.35rem

button
    border: none

.button-main
    padding: 0.5rem 1rem
    border-radius: $object-border-radius
    white-space: nowrap
    font-size: 1em
    cursor: pointer

.max-button-width
    width: 100%
    margin-inline: 1rem

.button-grouper-main
    width: min-content

.button-grouper-cap-start
    border-radius: $object-border-radius 0 0 $object-border-radius
.button-grouper-cap-end
    border-radius: 0 $object-border-radius $object-border-radius 0

.button-grouper-inner
    border-radius: 0