button
    border: none

.button-main
    padding: 0.5rem 1rem
    border-radius: 0.5rem
    white-space: nowrap
    font-size: 1em
    cursor: pointer

.max-button-width
    width: 100%
    margin-inline: 1rem

.button-grouper-main
    width: min-content

.button-grouper-cap-start
    border-radius: 0.5rem 0 0 0.5rem
.button-grouper-cap-end
    border-radius: 0 0.5rem 0.5rem 0

.button-grouper-inner
    border-radius: 0