// Notion Dark Theme

$keyword-color-dark: #BE8991 // Red
$builtin-color-dark: #BADB54 // Orange
$string-color-dark: #BADB54 // dark Gold
$comment-color-dark: #8B765D // Gray
$tag-color-dark: #BADB54 // Red
$attribute-color-dark: #BADB54 // Red
$selector-color-dark: #BADB54 // Orange
$property-color-dark: #BADB54 // Pink
$value-color-dark: #98c379 // Green

$keyword-color-light: #0077AA // Red
$builtin-color-light: #689B04 // Orange
$string-color-light: #689B04 // Light Gold
$comment-color-light: #708090 // Gray
$tag-color-light: #689B04 // Red
$attribute-color-light: #689B04 // Red
$selector-color-light: #689B04 // Orange
$property-color-light: #689B04 // Pink
$value-color-light: #98c379 // Green

.keyword-light
  color: $keyword-color-light
  font-family: monospace

.builtin-light
  color: $builtin-color-light
  font-family: monospace

.string-light
  color: $string-color-light
  font-family: monospace

.comment-light
  color: $comment-color-light
  font-family: monospace

.tag-light
  color: $tag-color-light
  font-family: monospace

.attribute-light
  color: $attribute-color-light
  font-family: monospace

.selector-light
  color: $selector-color-light
  font-family: monospace

.property-light
  color: $property-color-light
  font-family: monospace

.value-light
  color: $value-color-light
  font-family: monospace

.keyword-dark
  color: $keyword-color-dark
  font-family: monospace

.builtin-dark
  color: $builtin-color-dark
  font-family: monospace

.string-dark
  color: $string-color-dark
  font-family: monospace

.comment-dark
  color: $comment-color-dark
  font-family: monospace

.tag-dark
  color: $tag-color-dark
  font-family: monospace

.attribute-dark
  color: $attribute-color-dark
  font-family: monospace

.selector-dark
  color: $selector-color-dark
  font-family: monospace

.property-dark
  color: $property-color-dark
  font-family: monospace

.value-dark
  color: $value-color-dark
  font-family: monospace

.code-container-light
    background-color: #F7F6F3
    color: #999999
    padding-inline: 1.5rem
    padding-block: 1rem
    border-radius: 1rem
    overflow-x: auto

.code-container-dark
    background-color: #2C2C2C
    color: #999999
    padding-inline: 1.5rem
    padding-block: 1rem
    border-radius: 1rem
    overflow-x: auto